.icon {
	width: 24px;
	height: 24px;
}

.instagram {
	background: url(./images/instagram.png);
}

.facebook {
	margin: 0 8px;
	background: url(./images/facebook.png);
}

.polygon {
	margin: -1px 0 0 -2px;
	background: url(./images/polygon.png);
}
