.arrows {
  position: absolute;
  z-index: 1;
  top: -3rem;
  right: 0;
  width: 100px;
}
.splide__arrow--prev {
  transform: rotate(180deg);
  background-color: transparent;
}
.splide__arrow--next {
  transform: rotate(180deg);
  background-color: transparent;
}
.splide__arrow--prev path,
.splide__arrow--next path {
  fill: #ddaa22;
  transform: scale(1.5);
}
