.thumb,
.thumb::-webkit-slider-thumb {
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
}

.thumb {
	position: absolute;
	width: 234px;
	height: 0;
	outline: none;
	pointer-events: none;
}

.thumb::-webkit-slider-thumb {
	background-color: white;
	border: 1px solid #c1c9d2;
	border-radius: 50%;
	cursor: pointer;
	width: 20px;
	height: 20px;
	pointer-events: all;
}

.thumb::-moz-range-thumb {
	background-color: white;
	border: 1px solid #c1c9d2;
	border-radius: 50%;
	cursor: pointer;
	width: 20px;
	height: 20px;
	pointer-events: all;
}
