.container {
  width: 100%;
  height: fit-content;
  background: url("/general_images/Newsletter/background.png") no-repeat center
    center;
  background-size: cover;
  border-radius: 10px 10px 0 0;
}
