@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Noto+Sans:wght@400;700&family=Roboto:wght@100;300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0 !important;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.image-gallery .image-gallery-slide {
  height: 75vh;
  /* background-color: rgb(244 244 245); */
}

.image-gallery-slide img.image-gallery-image {
  max-width: 100%;
  max-height: 100% !important;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.image-gallery-thumbnail .image-gallery-thumbnail-image {
  width: auto !important;
  max-height: 92px !important;
  margin: auto;
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:hover,
.image-gallery-thumbnail:focus {
  border: 4px solid #ddaa22 !important;
  border-radius: 5px;
}

.image-gallery-index {
  background: #f3f3f3 !important;
  border-radius: 5px;
  color: #222 !important;
}

.image-gallery-left-nav,
.image-gallery-right-nav {
  opacity: 0.3;
}

input[type="checkbox"]:checked + label {
  background-color: rgba(255, 220, 129, 0.75);
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in {
  animation: fadeIn 0.75s ease-in;
  -moz-animation: fadeIn 0.75s ease-in;
  -webkit-animation: fadeIn 0.75s ease-in;
  -o-animation: fadeIn 0.75s ease-in;
}

.notification-banner * {
  display: inline;
}

.striped-table tr:nth-child(odd) .cell:first-child {
  background-color: #ebebeb;
}
.striped-table tr:nth-child(2n) .cell:first-child {
  background-color: #f5f5f5;
}
.striped-table tr:nth-child(odd) {
  background-color: #f5f5f5;
}

.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M6.48999 20.13L8.25999 21.9L18.16 12L8.25999 2.09998L6.48999 3.86998L14.62 12L6.48999 20.13V20.13Z' fill='%23DDAA22'/></svg>");
  background-repeat: no-repeat;
  background-position-x: calc(100% - 10px);
  background-position-y: 15px;
  padding-right: 2rem;
}

.lock-icon {
  font-size: 2.25rem !important;
}

.brand-logo-image {
  min-height: 0 !important;
  min-width: 0 !important;
  width: auto !important;
  height: auto !important;
}

.custom-image {
  position: static !important;
  min-width: auto !important;
  min-height: 0 !important;
  width: auto !important;
  height: auto !important;
  inset: unset !important;
  bottom: 0 !important;
  margin-left: auto !important;
  margin-right: auto !important;
  left: 0 !important;
  right: 0 !important;
  text-align: center;
}

.font-logo-inventa {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  font-weight: 200 !important;
  font-size: 1.9rem !important;
  letter-spacing: 5px;
}

.font-system {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.bg-testAbBackground > div {
  position: absolute !important;
  bottom: 0 !important;
}

.custom-input-search {
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

@media (max-width: 768px) {
  .image-gallery-thumbnail .image-gallery-thumbnail-image {
    max-height: 81px !important;
  }

  .floating-menu {
    left: 0 !important;
    width: 100vw;
  }
  .floating-menu_wrapper {
    width: 100vw;
  }

  .image-gallery .image-gallery-slide {
    height: 50vh;
    /* background-color: rgb(244 244 245); */
  }

  .custom-image {
    max-height: 270px!important;
  }
}
