.customImg {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.unsetImg {
  width: 100%;
}
.unsetImg > div {
  position: unset !important;
}
